/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bb181a;
  --ifm-color-primary-dark: #a81617;
  --ifm-color-primary-darker: #9f1416;
  --ifm-color-primary-darkest: #831112;
  --ifm-color-primary-light: #ce1a1d;
  --ifm-color-primary-lighter: #d71c1e;
  --ifm-color-primary-lightest: #e42e30;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  [data-theme='dark'] {
    --ifm-color-primary: #fbc250;
    --ifm-color-primary-dark: #fab730;
    --ifm-color-primary-darker: #fab11f;
    --ifm-color-primary-darkest: #e39905;
    --ifm-color-primary-light: #fccd70;
    --ifm-color-primary-lighter: #fcd381;
    --ifm-color-primary-lightest: #fde4b1;
  }
}
